/*colors
logo color:#CC9B65
kobicha: #72401C
coyote brown: #8A5D3C
jet black:#322C25
smokey black:#0A0705;
background:#FFE9D1;
*/
.instructions-div {
    border: 3px solid #322C25;
    border-radius: 10px;
    background-color: #FFE9D1;
    margin-bottom: 10px;
}

.instructions-div i {
    font-size: 80px;
    color: #0A0705;
    text-shadow: 5px 10px rgba(204, 155, 101, 0.5);
    margin:20px;
    display:block;
    
    
}