/* map div styling */
#map {
    border: 3px solid #322C25;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100vw;
    height: 300px;
}

/* auto locate button styling */
.locate {
    margin-top: 1rem;
}

/* media query for desktop screens  */
@media only screen and (min-width: 1000px) {
    #map {
        width: 80vw;
        margin-right: 10vw;
        margin-left: 10vw;

    }
}