#div-form {
    height: 195px;
    width: 98vw;
    margin-left: 1vw;
    border: 3px solid #322C25;
    border-radius: 10px;
    background-color: #FFE9D1;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2px;
}
#review-btn{
    margin-top:1rem;
}
#table-review {
    width:80vw;
    margin-left:10vw;
}
#table-content {
    color:#FFE9D1;
}
#review-page-btn{
    margin-top:3rem;
}
#table-head{
    margin-top: 2rem;
}
.input {
    width: 100%;
    text-align: center;
    margin-top:3px;
    margin-bottom:3px;
    border-radius: 5px;
}
@media only screen and (min-width: 1000px) {
    #div-form {
        height: 30vh;
        width: 80vw;
        margin-right: 10vw;
        margin-left: 10vw;
    }
}